[Unit]
Description=Multiprocess-safe logging
After=network.target

[Service]
Type=simple
# ideally safelog should be installed in sbin, but pypi installs it in bin
# so we don't specify a path to allow it to work in any environment
ExecStart=safelog --start
ExecStop=safelog --stop
Restart=always

[Install]
WantedBy=multi-user.target
