[Unit]
Description=Safelog

[Service]
Type=simple
# ideally safelog should be installed in sbin, but pypi installs it in bin
# so we don't specify a path to allow it to work in any environment
ExecStart=safelog
KillSignal=SIGTERM
Restart=no

[Install]
WantedBy=multi-user.target
